.container-gustavo {
    padding-bottom: 10px; 
    height: 100%;
}​

.espaco {
    position: static;
}

#botao {
    top: 610px;
    left: 235px;
    width: 100px;
    height: 40px;
}

.main-textarea {
    white-space: pre;
    overflow-x: hidden;
    text-overflow: ellipsis;
    tab-size: 10px;
    color: #606060;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 50px;
    resize: none;
    width: 90%;
    height: 500px;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 0px 50px 10px -45px silver;
}

.submit-button{
    margin-left: 10px;
    border-radius: 5px;
    background: white;
    color: #606060;
    box-shadow: 0px 15px 10px -10px silver;
    width: 80px;
    border-color: transparent;
}

.font-textarea{
    font-family: serif;
}

#idProvisioning {
    margin-left: 20px;
    padding-left: 5px;
    height: 40px;
    border-radius: 5px;
    border-width: 0px;
    box-shadow: 3px 15px 8px -10px silver;
}

.response{
    background-color: #ededed;
    resize: none;
    border-color: transparent;
    color: #606060;
    font-style: italic;
    font-weight: bold;
    font-size: large;
}
