.espaco {
    position: static;
}

.botao-loading{
    padding: 10px;
}

.submit-button{
    top: 610px;
    left: 235px;
    width: 110px;
    height: 40px;

    font-weight: bold;
    font-size: large;
    color: #606060;
    margin-left: 10px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 15px 10px -10px silver;
    border-color: transparent;
    /*border-style: solid;
    border-color: black;*/
    margin-bottom: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

.list-group-item-secondary{
    margin-left: 10px;
    width: 50%;
}

.font-textarea{
    font-family: serif;
}

#idProvisioning {
    font-style: italic;
    font-weight: bold;
    font-size: large;
    color: #606060;
    margin-left: 20px;
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    border-width: 0px;
    box-shadow: 3px 15px 8px -10px silver;
}

.response{
    width:100%;
    height: 500px;
    background-color: #ededed;
    resize: none;
    border-color: transparent;
    color: #606060;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
}

.send-button{
    height: 32px;
    width: 50%;
    margin-left: 4px;
    color: #606060;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 15px 10px -10px silver;
    /*border-color: black;
    border-style: solid;*/
    border-style: none;
    font-size: large;
}

/* LOADING */

.lds-ellipsis {
    display: none;
    position: absolute;
    width: 80px;
    height: 80px;
  }

  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #ff6a00;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }